<mat-card class="Center">
  <mat-card-header>
    <mat-card-title><h2>Welcome!</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <form>
        <mat-form-field>
          <input matInput #user placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput #password placeholder="Password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" style="margin-left: 70%" (click)="logOn(user.value,password.value)">Login</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>